* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat_box1 {
    margin: 50px;
    float: left;
    width: 30vw;
    min-height: 500px;
    border: 1px solid #555555;
}

.chat_box2 {
    margin: 50px;
    float: right;
    width: 30vw;
    min-height: 500px;
    border: 1px solid #555555;
}

.chat_box1 .header {
    background-color: lightcoral;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_box2 .header {
    background-color: lightskyblue;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_log {
    background-color: #f5f5f5;
    height: 400px;
    padding: 5px;
    white-space: normal;
    overflow-y: scroll;
    overflow-x: auto;
}

.chat-input input[type=text] {
    border: none;
    width: 100%;
    text-align: center;
    font-size: bold;
    outline: none;
}

.chat_box1 textarea{
    position: relative;
    width: 100%;
    min-height: 70px;
    padding: 5px;
    outline: none;
    border: none;
}

.chat_box2 textarea{
    position: relative;
    width: 100%;
    min-height: 70px;
    padding: 5px;
    outline: none;
    border: none;
}

.nickname-box {
    display: flex;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.nickname-box .title {
    width: 100px;
    background-color: #eee;
    font-size: 10pt;
    text-align: center;
}

.format {
    display: none;
}

li.right {
    list-style: none;
    margin: 10px 0 0 5px;
    text-align: right;
}

li.left {
    list-style: none;
    margin: 10px 0 0 5px;
    text-align: left;
}

.sender {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.message {
    font-size: 13px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 5px;
    display: inline;
    padding: 4px 10px 5px 10px;
}

.showJson {
    opacity: 0;
    transition: 1s;
    font-size: 10px;
    position: relative;
}

